* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;

  height: auto;

  color: #1a1a1a;
  background-color: #e6e6e6;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.section {
  width: 100%;
}
.upper {
  /* min-height: 400px;
  height: 500px; */

  /* position: fixed; */

  /* background-image: url(assets/lok-yiu-cheung-o6k0ZH1eOwg-unsplash.jpg); */
  /* background-image: url(assets/nathan-anderson-kujXUuh1X0o-unsplash.jpg); */
  /* 
  background-size: cover;
  background-repeat: no-repeat; */

  /* backdrop-filter: blur(10px); */

  position: relative;
  background-color: #1a1a1a;

  box-shadow: 1px 1px 30px 10px rgba(0, 0, 0, 0.25);
}
.logo {
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;

  text-decoration: none;
  color: #e6e6e6;
}
.logo span {
  font-size: 3.2rem;
  font-weight: bold;
  margin-right: 1.2rem;

  border-bottom: 0.1rem solid #e6e6e6;
}
.upper img {
  width: 30%;
  height: auto;

  margin-bottom: 4.8rem;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;

  padding: 6.4rem 0;

  gap: 4.6rem;
}
.word {
  font-size: 9.8rem;
  letter-spacing: 0.2rem;
}
.word::first-letter {
  text-transform: uppercase;
}
.prunounce {
  padding-left: 1.2rem;
}
.form {
  width: 80%;
  max-width: 600px;

  margin: 0 auto;

  display: flex;

  position: absolute;

  bottom: 0;
  left: 50%;

  transform: translate(-50%, 50%);

  overflow: hidden;

  background-color: #1a1a1a;

  box-shadow: 1px 1px 30px 10px rgba(0, 0, 0, 0.25);

  /* background-color: rgb(255, 255, 255); */
  /* background-color: #191919; */

  /* border-top-left-radius: 2rem;
  border-top-right-radius: 2rem; */

  /* border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5); */
}
.input {
  flex: 0 0 90%;

  font-size: 3.2rem;

  padding: 1.2rem 0;
  padding-left: 1.2rem;

  border: none;

  color: #ffff;

  background-color: rgba(0, 0, 0, 0);
}
.btn {
  flex: 0 0 10%;

  background-color: white;
  background-color: rgba(0, 0, 0, 0);

  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
.upper-container {
  display: flex;

  align-items: center;
  justify-content: space-between;

  gap: 4.4rem;

  width: 80%;
  max-width: 700px;

  margin: 0 auto;

  padding: 1.2rem;
}
.word-container {
  flex: 1 0 0;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;
}
.btn:hover {
  cursor: pointer;
}
.btn-container {
  flex: 0 0 12%;
  height: 100px;
}
.btn__play {
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0);
  border: none;

  border-radius: 100rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__play .ionicon:hover {
  cursor: pointer;
  transition: 1s;
  transform: scale(1.1);
}
.btn__play .ionicon {
  color: #1a1a1a;

  font-size: 8.6rem;

  padding-left: 1rem;
}
.lower {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  /* padding: 6.4rem 4.8rem; */

  overflow: hidden;

  padding: 0 4.8rem;
}
.word-section {
  padding-top: 4.8rem;
  width: 100%;
}
.audio {
  display: none;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  padding-left: 2.4rem;

  border-left: 0.1rem solid rgba(0, 0, 0, 0.5);
  padding-left: 1.2rem;
}
.list-item {
  padding: 0;
  gap: 1.2rem;

  display: flex;
}
.partOfSpeech {
  margin: 3.2rem 0;

  font-size: 3.2rem;

  position: relative;

  z-index: 1;

  text-transform: capitalize;
}
.footer {
  margin-top: 6, 4rem;

  font-size: 1.2rem;
}
/* .partOfSpeech::after {
  content: "";
  display: inline-block;

  width: 100%;
  height: 0.1rem;

  top: 50%;

  transform: translate(2rem, 50%);
  position: absolute;

  background-color: rgba(255, 255, 255, 0.5);

  z-index: 0;
} */
.synonym {
  margin-bottom: 2rem;
}
.ionicon {
  font-size: 3.2rem;

  color: #e6e6e6;
}
@media (max-width: 55em) {
  html {
    font-size: 46%;
  }
  .upper img {
    width: 40%;
  }
  .logo {
    top: 11rem;
    left: 0.2rem;
    transform: translate(-1.2rem, 0) rotate(90deg);

    color: #e6e6e6;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 40%;
  }
  .upper {
    min-height: 250px;
    height: 250px;
  }
  .upper-container {
    justify-content: center;

    gap: 1.2rem;
  }
}
@media (max-width: 36em) {
  html {
    /* font-size: 37%; */
  }
  .word {
    font-size: 7.4rem;
  }
  .btn__play .ionicon {
    font-size: 5.2rem;
  }
}
